<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<link rel="stylesheet" href="/css/style.css">
<div id="annaDiv">
<form method="POST" action="/newAnna">
	<input type="text" name="date" placeholder="YYYY-MM-DD">
	<input type="text" name="smiling" placeholder="radiant?">
	<input type="submit" value="Submit">
</form>
</div>