<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<form method="POST" action="/newPhil">
	<input type="text" name="date" placeholder="YYYY-MM-DD">
	<input type="text" name="coffee" placeholder="coffee">
	<input type="submit" value="Submit">
</form>