<h1>New Outfit</h1>
<form method="POST" action="/sung">
	<input type="text" name="date" placeholder="YYYY-MM-DD">
	<input type="text" name="footwear" placeholder="footwear">
	<input type="text" name="ascot" placeholder="ascot">
	<input type="text" name="outfit" placdeholer="is he pulling it off?">
	<input type="submit" value="Create">
</form>