<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="main.js"></script>
<p> <%= date %> </p>
<form method="POST" action="/phil">
	
	<input type="text" name="coffee" value=<%=coffee%> >
	<input type="submit" value="Submit">
</form>