#sungDiv {
	background: url(/images/sung.jpg);
	height: 200vh;
	background-size: cover;
}

#annaDiv {
	background: url(https://avatars0.githubusercontent.com/u/11503403?v=3&s=400);
	height: 2000px;
}

#philDiv {
	background: url(https://avatars2.githubusercontent.com/u/1198291?v=3&s=400);
	height: 2000px;
}